<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-firebase-salesforce-bridge"
        version="1.0.0">
    <name>Firebase Messaging Salesforce Bridge</name>
    <description>Extension plugin to bridge Firebase Messaging with Salesforce Marketing Cloud SDK on Android</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=10.0.0" />
        <engine name="cordova-android" version=">=8.1.0" />
    </engines>

    <!-- Dependência do plugin oficial do Firebase Messaging da OutSystems -->
    <dependency id="com.outsystems.firebase.cloudmessaging" url="https://github.com/OutSystems/cordova-outsystems-firebase-cloud-messaging.git#2.6.0" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- Remove o serviço padrão do plugin de Firebase oficial da OutSystems -->
            <service android:name="com.outsystems.firebase.cloudmessaging.FirebaseMessagingReceiveService" tools:node="remove" />
            
            <!-- Adiciona o nosso serviço customizado que herda do oficial -->
            <service android:name="com.salesforce.cordova.firebase.SalesforceFCMService" android:exported="true">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SalesforceBridge">
                <param name="android-package" value="com.salesforce.cordova.firebase.SalesforceBridgePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <!-- Ficheiros de Código Fonte Java -->
        <source-file src="src/android/SalesforceFCMService.java" target-dir="src/com/salesforce/cordova/firebase" />
        <source-file src="src/android/SalesforceBridgePlugin.java" target-dir="src/com/salesforce/cordova/firebase" />
    </platform>
</plugin>
